:root {
    --background-dark: #0F172A;
    --text-color-secondary: #8B99AE;
    --buton-color: #FBBF24;
    --button-color-hover: #F59E0B;
    --green-color: #179648;
    --blue-color: #005CC8;
    --pink-color: #D04EA5;
    --text-white:#FFFFFF;
    --text-dark: #0F172A;
}