.accordion{
    border: solid 0.1em var(--back-gray);
    .title-accordion{
        padding: 15px 20px;
        display: flex;
        color: var(--text-white);
        align-items: center;
        justify-content: space-between;
        width: 100% !important;
    }
    
    .accordion-selected {
        background-color: var(--background-secondary);
        h3 {
            color: var(--buton-color);
        }
    }
    .text-accordion{
        padding: 15px 20px;
        width: 100% !important;
        text-align: justify;
    }
}