.accordion{
    border: solid 0.1em var(--back-gray);
    .title-accordion{
        padding: 15px 20px;
        display: flex;
        color: var(--text-white);
        align-items: center;
        justify-content: space-between;
        width: 100% !important;
        cursor: pointer;
    }    
    .accordion-selected {
        background-color: var(--background-secondary);
        h3 {
            color: var(--buton-color);
        }
    }
    .text-accordion{
        width: 100% !important;
        text-align: justify;
        height: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }
    .text-accordion-selected {
        padding: 15px 20px;
        height: 100%;
        max-height: 300px;  
    }
}